<?php
echo "Welcome to Terraform Mini Project";
<br>
echo "Hostname: " . gethostname();
<br>
echo "IP Address: " . $_SERVER['SERVER_ADDR'];
<br>
echo "Server Name: " . $_SERVER['SERVER_NAME'];
<br>
echo "© Ekene " . date("Y");

?>