<?php
echo "Welcome to Terraform Mini Project";

echo "Hostname: " . gethostname();

echo "IP Address: " . $_SERVER['SERVER_ADDR'];

echo "Server Name: " . $_SERVER['SERVER_NAME'];

echo "© Ekene " . date("Y");

?>